@model List<qlnv__61134498.Models.NhanVien>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    string gtinh = "";
    int i = 0;
}
Nhập mã nhân viên cần tìm
@using (Html.BeginForm())
{
    <input type="text" name="maNV" />
    <input type="submit" value="Tìm kiếm" />
    <h3>DANH SÁCH NHÂN VIÊN</h3>

    <p>
        @Html.ActionLink("Thêm mới", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                STT
            </th>
            <th>
                Mã NV
            </th>
            <th>
                Họ nhân viên
            </th>
            <th>
                Tên nhân viên
            </th>
            <th>
                Giới tính
            </th>
            <th>
                Ngày sinh
            </th>
            <th>
                Lương
            </th>
            <th>
                Ảnh NV
            </th>
            <th>
                Địa chỉ
            </th>
            <th>
                Phòng ban
            </th>
            <th>Chức năng</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @{i++;}
                    @i
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaNV)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HoNV)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TenNV)
                </td>
                <td>
                    @{if (item.GioiTinh == true)
                        { gtinh = "Nam"; }
                        else
                        { gtinh = "Nữ"; }
                    }
                    @gtinh

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NgaySinh)

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Luong)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AnhNV)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DiaChi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaPB)
                </td>
                <td>
                    @Html.ActionLink("Sửa", "Edit", new { id = item.MaNV }) |
                    @Html.ActionLink("Xem chi tiết", "Details", new { id = item.MaNV }) |
                    @Html.ActionLink("Xóa", "Delete", new { id = item.MaNV })
                </td>
            </tr>
        }

    </table>

}